PORT = 8080

SECRET = secreto_de_sessions

DB_URL = "mongodb://localhost:27017/tu_base"

JWT_SECRET = tu_secreto_JWT
REFRESH_SECRET = tu_secreto_refresco


GITHUB_CLIENT_ID = tu_github_id
GITHUB_CLIENT_SECRET = tu_github_client_secret
GITHUB_CALLBACK_URL = "http://localhost:8080/api/auth/github/callback"